asgiref
certifi
charset-normalizer
crispy-bootstrap5
defusedxml
Django
django-appconf
django-autoslug
django-crispy-forms
django-extensions
django-filter
django-imagekit
django-phonenumber-field
django-tables
et-xmlfile
idna
MarkupPy
numpy
odfpy
openpyxl
pandas
phonenumbers
pilkit
Pillow
python-dateutil
pytz
PyYAML
requests
six
sqlparse
tablib
tabulate
timeago
typing_extensions
tzdata
urllib3
xlrd
xlwt